<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-2 d-none d-lg-block">
      <app-filter [allBrands]="allBrands" [intMin]="intMin" [intMax]="intMax"></app-filter>
    </div>
    <div class="col-12 col-lg-10">
      <div class="d-flex justify-content-between justify-content-lg-end filters">
        <button class="btn btn-light shadow-sm d-flex d-lg-none" (click)="open(content)"><span
            class="material-symbols-outlined">
            filter_alt
          </span> Filters</button>
          <!-- <div class="pins">

          </div> -->
        <div class="dropdown">
          <button class="btn btn-light shadow-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">Sort by: <strong class="text-muted">{{filters.sortBy}}</strong></button>
          <ul class="dropdown-menu c-pointer">
            <li class="dropdown-item" (click)="changeSorting('Relevance')"
              [ngClass]="{'active':filters.sortBy == 'Relevance'}">
              Relevance</li>
            <li class="dropdown-item" (click)="changeSorting('Price low to high')"
              [ngClass]="{'active':filters.sortBy == 'Price low to high'}">Price low to high</li>
            <li class="dropdown-item" (click)="changeSorting('Price high to low')"
              [ngClass]="{'active':filters.sortBy == 'Price high to low'}">Price high to low</li>
            <li class="dropdown-item" (click)="changeSorting('Ratings')"
              [ngClass]="{'active':filters.sortBy == 'Ratings'}">
              Ratings</li>
          </ul>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-0"
        *ngIf="products.length > 0; else noResult">
        <div class="col" *ngFor="let product of products">
          <div class="card border-0 shadow-sm position-relative product-card c-pointer"
            routerLink="product/{{product?.id}}">
            <div class="img-aspect"><img class="img-fluid img-aspect rounded p-1 border-0" src="{{product?.thumbnail}}"
                alt="Image not Available"></div>
            <div class="rating position-absolute bg-light bg-opacity-75 top-0 end-0 shadow-sm rounded-2 px-2 py-1 m-2">
              {{product?.rating | number : '1.1-1'}} ⭐</div>
            <div class="card-body">
              <h6 class="card-title mb-1 text-capitalize">{{product?.title}}</h6>
              <p class="mb-1 text-muted opacity-75 one-liner text-capitalize">{{product?.description}}</p>
              <h6 class="d-inline-block me-2">₹{{product?.price | number : '1.2-2'}}</h6> <small><span
                  class="text-muted text-decoration-line-through">₹{{util.getMrp(product.price, product.discount) | number :
                  '1.2-2'}}</span> <span class="text-success ms-1">({{product?.discount}}%
                  Off)</span></small>
              <div class="input-group w-fit" *ngIf="quantities?.hasOwnProperty(product.id); else addToCartBtn"
                (click)="$event.stopPropagation()">
                <button class="btn btn-sm btn-outline-red border-end-0 px-2" (click)="decreaseCartHandler(product.id)">
                  <span class="material-symbols-outlined">
                    remove
                  </span>
                </button>
                <input type="text"
                  class="border w-3rem flex-grow-0 text-center text-red border-start-0 border-red border-end-0 quantity-input"
                  value="{{quantities[product.id]}}" (keyup)="updateCartHandler(product.id, $event)"
                  (blur)="refreshQuantity(product.id, $event)">
                <button class="btn btn-sm btn-outline-red border-start-0 px-2"
                  (click)="increaseCartHandler(product.id)">
                  <span class="material-symbols-outlined">
                    add
                  </span>
                </button>
              </div>
              <ng-template #addToCartBtn>
                <button class="btn btn-sm btn-red" (click)="addToCartHandler($event,product)">Add to cart</button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noResult>
        <div class="container-fluid text-center pt-5 opacity-75">
          <img class="no-product mb-3" src="../../../assets/images/no-results.png" alt="No results">
          <h4>No product matches with your applied filters...</h4>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-template #content let-offcanvas>
    <!-- <div class="offcanvas-header shadow-sm sticky-top">
      <h4 class="offcanvas-title" id="offcanvas-basic-title">Filters</h4>
      <button type="button" class="btn-close no-border-on-focus" aria-label="Close"
        (click)="offcanvas.dismiss()"></button>
    </div> -->
    <div class="offcanvas-body">
      <app-filter [allBrands]="allBrands" [intMin]="intMin" [intMax]="intMax"></app-filter>
    </div>

    <!-- <div class="offcanvas-footer text-end pe-4 pb-2">
      <button class="btn btn-secondary">Reset</button>
      <button class="btn btn-red ms-2">Apply</button>
    </div> -->
  </ng-template>