  <nav class="navbar navbar-light navbar-expand-lg bg-light shadow-sm mb-3 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="../../assets/images/logo.jpg" alt="INCREFF" height="40px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="text-muted my-auto me-4" routerLink="/upload">
                <span class="material-icons fs-2">
                    upload_file
                </span>
            </a>
          <a class="text-muted my-auto me-4 position-relative" routerLink="/cart">
              <i class="material-icons fs-2">shopping_cart</i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill p-1 bg-red">
                {{cartQuantity<100 ? cartQuantity : '99+' }}
              </span>
          </a>
          
          <div class="dropdown ms-2 my-auto">
            <button class="btn btn-light shadow-sm dropdown-toggle fw-bold text-muted" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{userName}}
            </button>
            <ul class="dropdown-menu dropdown-menu-end c-pointer py-1">
              <!-- <li><a class="dropdown-item" routerLink="/upload">Upload Orders</a></li> -->
              <li><a class="dropdown-item" (click)="loggingHandler()">{{userName=='Guest' ? 'Login' : 'Logout'}}</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </nav>