<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-2 d-none d-sm-block">
      <h4 class="mb-3">Filters</h4>
      <h6 class="text-muted text-uppercase">Price Range</h6>
      <div class="d-flex align-items-baseline">
        <div class="col-5">
          <div class="form-floating mb-3">
            <input class="form-control" id="min-price" placeholder="-">
            <label for="min-price">Min</label>
          </div>
        </div>
        <div class="col d-flex">
          <div class="mx-auto h-fit"> to </div>
        </div>
        <div class="col-5">
          <div class="form-floating mb-3">
            <input class="form-control" id="max-price" placeholder="-">
            <label for="max-price">Max</label>
          </div>
        </div>
      </div>

      <h6 class="text-muted text-uppercase mt-3">Ratings</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rating" id="4-star">
        <label class="form-check-label" for="4-star">
          4★ & above
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rating" id="3-star">
        <label class="form-check-label" for="3-star">
          3★ & above
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rating" id="2-star">
        <label class="form-check-label" for="2-star">
          2★ & above
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rating" id="1-star">
        <label class="form-check-label" for="1-star">
          1★ & above
        </label>
      </div>

      <h6 class="text-muted text-uppercase mt-4">Brands</h6>
      <div class="form-check" *ngFor="let i of products">
        <input class="form-check-input" type="checkbox" name="brand" value="apple">
        <label class="form-check-label" for="apple">
          Apple
        </label>
      </div>
    </div>
    <div class="col-12 col-sm-10">
      <div class="d-flex justify-content-between filters">
        <button class="btn btn-light shadow-sm d-flex" (click)="open(content)"><span class="material-symbols-outlined">
            filter_alt
          </span> Filters</button>
        <div class="dropdown">
          <button class="btn btn-light shadow-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">Sort by: <strong class="text-muted">{{sort}}</strong></button>
          <ul class="dropdown-menu">
            <li class="dropdown-item active">Relevance</li>
            <li class="dropdown-item">Price low to high</li>
            <li class="dropdown-item">Price high to low</li>
            <li class="dropdown-item">Ratings</li>
          </ul>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-0">
        <div class="col" *ngFor="let product of products">
          <div class="card border-0 shadow-sm position-relative product-card" routerLink="product/{{product.id}}">
            <div class="img-aspect"><img class="img-fluid img-aspect rounded p-1 border-0" src="{{product.thumbnail}}"
              alt="Image not Available"></div>
            <div class="rating position-absolute bg-light top-0 end-0 shadow-sm rounded-2 px-2 py-1 m-2">
              {{product.rating | number : '1.1-1'}} ⭐</div>
            <div class="card-body">
              <h5 class="card-title mb-1">{{product.title}}</h5>
              <p class="mb-1 text-muted opacity-75 one-liner">{{product.description}}</p>
              <h5 class="d-inline-block me-2">₹{{product.price | number : '1.2-2'}}</h5> <small><span
                  class="text-muted text-decoration-line-through">₹{{getMrp(product.price, product.discount) | number :
                  '1.2-2'}}</span> <span class="text-success ms-1">({{product.discount}}%
                  Off)</span></small>
              <div class="input-group w-fit" *ngIf="quantities.hasOwnProperty(product.id); else addToCartBtn" (click)="$event.stopPropagation()">
                <button class="btn btn-outline-red border-end-0 px-2" (click)="decreaseCartHandler(product.id)">
                  <span class="material-symbols-outlined">
                    remove
                  </span>
                </button>
                <input type="text"
                  class="form-control w-3rem flex-grow-0 text-center text-red border-start-0 border-red border-end-0 no-border-on-focus"
                  value="{{quantities[product.id]}}" (keyup)="updateCartHandler(product.id, $event)" placeholder="" aria-label="Example text with button addon"
                  aria-describedby="button-addon1">
                <button class="btn btn-outline-red border-start-0 px-2" (click)="increaseCartHandler(product.id)">
                  <span class="material-symbols-outlined">
                    add
                  </span>
                </button>
              </div>
              <ng-template #addToCartBtn>
                <button class="btn btn-sm btn-red" (click)="addToCartHandler($event,product)">Add to cart</button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-offcanvas>
    <div class="offcanvas-header shadow-sm sticky-top">
      <h4 class="offcanvas-title" id="offcanvas-basic-title">Filters</h4>
      <button type="button" class="btn-close no-border-on-focus" aria-label="Close"
        (click)="offcanvas.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
      <h6 class="text-muted text-uppercase">Price Range</h6>
      <div class="d-flex align-items-baseline">
        <div class="col-5">
          <div class="form-floating mb-3">
            <input class="form-control" id="min-price" placeholder="-">
            <label for="min-price">Min</label>
          </div>
        </div>
        <div class="col d-flex">
          <div class="mx-auto h-fit"> to </div>
        </div>
        <div class="col-5">
          <div class="form-floating mb-3">
            <input class="form-control" id="max-price" placeholder="-">
            <label for="max-price">Max</label>
          </div>
        </div>
      </div>

      <h6 class="text-muted text-uppercase mt-3">Ratings</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rating" id="4-star">
        <label class="form-check-label" for="4-star">
          4★ & above
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rating" id="3-star">
        <label class="form-check-label" for="3-star">
          3★ & above
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rating" id="2-star">
        <label class="form-check-label" for="2-star">
          2★ & above
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rating" id="1-star">
        <label class="form-check-label" for="1-star">
          1★ & above
        </label>
      </div>

      <h6 class="text-muted text-uppercase mt-4">Brands</h6>
      <div class="form-check" *ngFor="let i of products">
        <input class="form-check-input" type="checkbox" name="brand" value="apple">
        <label class="form-check-label" for="apple">
          Apple
        </label>
      </div>
    </div>

    <div class="offcanvas-footer text-end pe-4 pb-2">
      <button class="btn btn-secondary">Reset</button>
      <button class="btn btn-red ms-2">Apply</button>
    </div>
  </ng-template>

  