<div class="d-md-flex justify-content-between">
  <div class="col-12 col-md-5 col-lg-4">
    <div class="card border-0 shadow-sm">
    <form class="card-body" #uploadForm="ngForm" (ngSubmit)="submitHandler(uploadForm.value)">
      <h3>Upload Orders</h3>
      <div class="input-group mb-2 mt-3">
        <input #fileInput="ngModel" type="file" accept="text/csv" class="form-control no-border-on-focus" id="inputGroupFile01" name="file" required ngModel>
      </div>
      <a class="d-block" href="../../assets/csv/sample.csv">Download Sample</a>
      <div class="text-end mt-2">
        <button (click)="previewHandler(uploadForm.value)" class="btn btn-secondary">Preview</button>
        <button (click)="uploadHandler(uploadForm.value)" class="btn btn-red ms-2">Upload</button>
      </div>
    </form>
  </div>
  </div>
  <div class="col-12 col-md-6 mt-4 mt-md-0">
    <table class="table shadow-sm">
      <thead class="">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>